* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(44, 42, 42);
}
.clock-container {
  color: #fff;
  background-color: rgb(44, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.clock-container p {
  font-size: 23vw;
}
.black-clock-container p {
  font-size: 23vw;
}
.black-clock-container {
  color: black;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
